body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: serif;
    font-style: bold;
    background: url('bg.jpg') center/cover; 
  }
  
  .clock-container {
    display: flex;
    font-size: 3.5em;
  }
  
  .digit {
    width: 1.5em;
    text-align: center;
    padding: 0.3em;
    border-radius: 0.3em;
    background-color: rgba(0, 31, 63, 0.515); 
    color: #d5f1ff;
    margin: 0 0.2em;
    text-shadow: 0 0 15px #00aaff, 0 0 30px #00aaff, 0 0 45px #00aaff;
  }
  
  .colon {
    margin: 0 0.3em;
    color: #d5f1ff;
    text-shadow: 0 0 15px #00aaff, 0 0 30px #00aaff, 0 0 45px #00aaff;
  }
  
  